<h4 {{action "toggleVisibility" model}}>< span class="caret {{if model.visible "caret-down" "caret-right"}}"> </span> {{model.name}}</h4>
{{#if model.visible}}
	<div id="margine">
	  <form {{action "save" model on="change"}}>
	    Name:{{input value=model.name }}
	    Description:{{input value=model.description }}
	    Type:{{#x-select value=model.type}}
        {{#x-option}}{{/x-option}}
	      {{#each types as |type|}}
	        {{#x-option selected=(if (eq model.type type) "selected" "") value=type}}{{type}}{{/x-option}}
	      {{/each}}
	    {{/x-select}}
	  </form>
	</div>
  <div id="res3">
    {{#link-to "properties.delete" model.id tagName="button" class="btn btn-danger btn-xs"}}Remove{{/link-to}}
  </div>
{{/if}}
