<ul class="nav nav-pills nav-stacked">
  <li class="active"><a>{{modelNamePlural}}</a></li>
    <li>{{#link-to linkCreateNew tagName="button" class="btn btn-success btn-md round"}}Add {{modelNameSingular}}{{/link-to}}</li>

  {{#each models as |model|}}
    {{#if model.id}}
      <li>
        {{#link-to linkToModel model.id}}
            {{#if model.path}}
              {{model.path}}
            {{else if model.name}}
              {{model.name}}
            {{else}}
              {{model.id}}
            {{/if}}
        {{/link-to}}
        <button class="btn btn-primary btn-md round"{{action createFirstSubModel model}}>Add {{firstSubModelNameSingular}}</button>
      </li>
    {{/if}}
  {{/each}}
</ul>
