<form {{action "save" model on="change"}}>
  Status:{{input value=model.status}}
  Name:{{input value=model.name}}
  Description:{{input value=model.description}}
  Entity:{{input value=model.entity}}
</form>
