<h4 {{action "toggleVisibility" model}}>< span class="caret {{if model.visible "caret-down" "caret-right"}}"> </span> {{if model.rel model.rel "-"}}</h4>

{{#if model.visible}}
  <div id="margine">
    <form {{action "save" model on="change"}}>
      Link Relation Type:{{#radio-button value=true groupValue=model.registered}}Registered <span class="break">(IANA-REL, MF-REL)</span>{{/radio-button}}
      {{#radio-button value=false groupValue=model.registered}}Self-registered{{/radio-button}}<br/>
      Rel:{{input value=model.rel placeholder=(if model.registered "Type to search (e.g. 'next')" "Type a URL (e.g. 'http://example.org/rels/todo')")}}<br/>
      {{#if model.registered}}
        <div>
          {{#each-in hints as |name hint|}}
            {{#if (compareNames model.rel name)}}
              <span class="bold">{{name}}: </span>{{hint}}
            {{/if}}
          {{/each-in}}
        </div>
      {{/if}}
    </form>
  </div>
{{/if}}