<ul class="nav nav-pills nav-stacked" >
  <li class="active"><a>{{modelNamePlural}}</a></li>
    <li>{{#link-to linkCreateNew tagName="button" class="btn btn-success btn-sm round "}}Add {{/link-to}}</li>
    <ul class="nav nav-list">
  {{#each models as |model|}}
    {{#if model.id}}
    <li>
      {{#link-to linkToModel model.id}}
     
      <label id="lbl" {{action "toggleModel" model }} >
      < span class="caret {{if model.isExpanded "caret-down" "caret-right"}}"> </span>
        
        {{#if model.path}}
        {{model.path}}
        {{else if model.name}}
        {{model.name}}
        {{/if}}
         </label>
        TODO : insert image here
     
      {{/link-to}}
      </li>
        {{#if model.isExpanded }}
        <ul class="nav nav-list tree">
          {{#if submodelIsMethod}}
            {{#each model.methods as |method|}}
              {{#if method.id}}
              <li>
                {{#if method.method}}
                  {{method.method}}
                {{else if method.name}}
                  {{method.name}}
                {{/if}}
              </li>
              {{/if}}
            {{/each}}
          {{else}}
            {{#each model.properties as |property|}}
              {{#if property.id}}
              <li>
                {{#if property.name}}
                  {{property.name}}
                {{/if}}
              </li>
              {{/if}}
            {{/each}}
          {{/if}}
        </ul>
        {{/if}}
      {{/if}}
  {{/each}}
</ul>
</ul>
