{{#if model.id}}
  <h4 {{action "toggleBody"}}>{{model.method}}</h4>
  {{#if isShowingBody}}
    <form {{action "save" model on="change"}}>
      Method:{{input value=model.method}}
      Name:{{input value=model.name}}
      Description:{{input value=model.description}}
    </form>
    
     <div id="res">
      {{#link-to "methods.delete" model tagName="button" class="btn btn-danger btn-xs"}}Remove{{/link-to}}
    </div>
    <!-- <h4>Query Parameters</h4> -->
    {{create-query-parameter model=model store=store}}
    
    {{#if model.queryParams}}
      {{#each model.queryParams as |queryParam|}}
        {{show-query-parameter model=queryParam}}
      {{/each}}
    {{else}}
      <p>No Query Parameters yet.</p>
    {{/if}}

    <!-- <h4>Responses</h4> -->
    {{create-response model=model store=store}}
    
    {{#if model.responses}}
      {{#each model.responses as |response|}}
        {{show-response model=response entities=entities}}
      {{/each}}
    {{else}}
      <p>No Responses yet.</p>
    {{/if}}
  {{/if}}
{{/if}}