<h4 {{action "toggleBody"}}> < span class="caret {{if isShowingBody "caret-down" "caret-right"}}"> </span>{{model.status}} </h4>
{{#if isShowingBody}}
  <form {{action "save" model on="change"}}>
    Status:{{#x-select value=model.status}}
      {{#each statusCodes as |code|}}
        {{#x-option selected=(if (eq model.status code) "selected" "") value=code}}{{code}}{{/x-option}}
      {{/each}}
    {{/x-select}}
    Name:{{input value=model.name}}
   
  </form>
  <form id="en"{{action "save" model on="change"}}>
    Description:{{input value=model.description}}
    Entity:
      {{#if entities}}
        {{#x-select value=model.entity action="saveEntity" response=model}}
          {{#unless model.entity}}
            {{#x-option selected="selected" value=""}}{{/x-option}}
          {{/unless}}
          {{#each entities as |entity|}}
            {{#x-option selected=(if (eq model.entity.id entity.id) "selected" "") value=entity}}{{entity.name}}{{/x-option}}
          {{/each}}
        {{/x-select}}
      {{else}}
        No Entities found.
      {{/if}}
  </form>
  <div id="res">
  {{#link-to "responses.delete" model tagName="button" class="btn btn-danger btn-xs"}}Remove{{/link-to}}
  </div>
{{/if}}