<h4 {{action "toggleVisibility" model}}>< span class="caret {{if model.visible "caret-down" "caret-right"}}"></span>QueryParameter</h4>
{{#if model.visible}}
  <div id="margine">
	  <form {{action "save" model on="change"}}>
	    Name:{{input value=model.name}}
	    Type:{{#x-select value=model.type}}
	      {{#each types as |type|}}
	        {{#x-option selected=(if (eq model.type type) "selected" "") value=type}}{{type}}{{/x-option}}
	      {{/each}}
	    {{/x-select}}
	    Description:{{input value=model.description}}
	    <div id="dd">
        Example:{{input value=model.example}}
      </div>
	  </form>
  </div>
  <hr>
  <div id="ress">
    {{#link-to "queryParameters.delete" model tagName="button" class="btn btn-danger btn-xs"}}Remove{{/link-to}}
  </div>
{{/if}}
