<ul class="nav nav-pills nav-stacked">
  <li class="active"><a>{{modelNamePlural}}</a></li>
    <li>{{#link-to linkCreateNew tagName="button"}}New {{modelNameSingular}}{{/link-to}}</li>

  {{#each models as |model|}}
    {{#if model.id}}
      <li>
        {{#link-to linkToModel model.id}}
            {{#if model.name}}
              {{model.name}}
            {{else if model.path}}
              {{model.path}}
            {{else}}
              {{model.id}}
            {{/if}}
        {{/link-to}}
        <button {{action createFirstSubModel model}}>New {{firstSubModelNameSingular}}</button>
      </li>
    {{/if}}
  {{/each}}
</ul>
