<h4 {{action "toggleBody"}}>{{model.name}}</h4>
{{#if isShowingBody}}
  <form {{action "save" model on="change"}}>
    Name:{{input value=model.name}}
    Type:{{input value=model.type}}
    Description:{{input value=model.description}}
    Example:{{input value=model.example}}
  </form>
  <div id="res">
  {{#link-to "queryParameters.delete" model tagName="button" class="btn btn-danger btn-xs"}}Remove{{/link-to}}
</div>
{{/if}}
