<form {{action "save" model on="change"}}>
  Name:{{input value=model.name}}
  Type:{{input value=model.type}}
  Description:{{input value=model.description}}
  Example:{{input value=model.example}}
</form>
