<ul class="nav nav-pills nav-stacked">
  <li class="active"><a>{{modelNamePlural}}</a></li>
    <li>{{#link-to linkCreateNew tagName="button" class="btn btn-success btn-md round"}}Add {{modelNameSingular}}{{/link-to}}</li>
    <ul class="nav nav-list">
  {{#each models as |model|}}
    {{#if model.id}}
    <li>
      <label class="nav nav-header" {{action "toggleModel" model }} >
        <span  data-toggle="collapse" class="collapsed" class="caret caret-right" ></span>
        {{#if model.path}}
        {{model.path}}
        {{else if model.name}}
        {{model.name}}
        {{/if}}
        {{#link-to linkToModel model.id}}
        TODO : insert image here
        {{/link-to}}
      </label>
      </li>
        {{#if model.isExpanded }}
        <li><button class="btn btn-primary btn-md round "{{action createFirstSubModel model}}>Add {{firstSubModelNameSingular}}</button></li>
        <ul class="nav nav-list tree">
          {{#each model.methods as |method|}}
            {{#if method.id}}
            <li>
              {{#if method.method}}
                {{method.method}}
              {{else if method.name}}
                {{method.name}}
              {{/if}}
            </li>
            {{/if}}
          {{/each}}
        </ul>
        {{/if}}
      {{/if}}
  {{/each}}
</ul>
</ul>
