{{#if model.id}}
  <div>
    <h2>API URL</h2>
    <div class="jumbotron">
      <form {{action "save" model on="change" }}>
        Protocol:
        {{#x-select value=model.protocol action="saveSelection"}}
          {{#x-option value='' selected="selected"}}{{/x-option}}
          {{#x-option value='HTTP/1.1'}}HTTP/1.1{{/x-option}}
          {{#x-option value='HTTPS/1.1'}}HTTPS/1.1{{/x-option}}
        {{/x-select}}<br>
        Port: {{input value=model.port }}
        <br>
        Domain: {{input value=model.domain}}
        <br>
        Base Path: {{input value=model.base_path }}
        <br>
        <button id="btnss"{{action "generateEndpoint" model}} class="btn btn-success btn-md round"> Generate Endpoint </button>
        <br>
        Endpoint URL: {{model.endpoint_url}}
        <br>
      </form>
      <div id="res">
        {{#link-to "apiurls.delete" model tagName="button" class="btn btn-danger btn-xs"}}Remove{{/link-to}}
      </div>
    </div>
  </div>
{{/if}}
