{{#if model.id}}
<div>
  <div>
    <h3>API URL</h3>
    <div class="jumbotron">
      <form {{action "save" model on="change"}}>
        <h4 id="ff">Protocol:
        {{#x-select value=model.protocol action="saveSelectionProtocol"}}
        {{#x-option value='' selected="selected"}}{{/x-option}}
        {{#each protos as |proto|}}
        {{#x-option value=proto}}{{proto}}{{/x-option}}
        {{/each}}
        {{/x-select}}<br></h4>
       <h4 id="f1"> Port: {{input value=model.port}}</h4>
        <br>
        <h4 id="f2">Domain: {{input value=model.domain placeholder="e.g. www.example.com"}}</h4>
        <br>
        <h4> Base Path: {{input value=model.base_path placeholder="e.g. /develop"}}</h4>
        <br>
        <h4 id="f3">Endpoint URL: {{model.endpoint_url}}</h4>
        <br>
      </form>
      <div id="res4">
        {{#link-to "apiurls.delete" model tagName="button" class="btn btn-danger btn-xs"}}Remove{{/link-to}}
      </div>
    </div>
  </div>
  <div>
    <h3> General Information </h3>
    <div class="jumbotron">
      <form {{action "save" model on="change"}}>
        <h4 id="f5"> Name: {{input value=model.generalInfoName  placeholder="e.g. API for project"}}</h4>
        <br>
        <h4 id="f6"> Description: </h4><span id="ff2">{{textarea value=model.generalInfoDescription}}</span>
        <br>
        <h4 id="f7"> License Name: {{input value=model.generalInfoLicenseName  placeholder="e.g. MIT"}}</h4>
        <br>
        <h4 id="f8"> License URL: {{input value=model.generalInfoLicenseURL placeholder="e.g. https://opensource.org/licenses/MIT"}}</h4>
      </form>
    </div>
  </div>
  <div>
    <h3> Authentication Protocol</h3>
    <div class="jumbotron">
      <form {{action "saveAuth" model on="change"}}>
        <h4> Name:
          {{#x-select value=model.authProtoName action="saveSelectionAuthProtocol"}}
          {{#x-option value='' selected="selected"}}{{/x-option}}
          {{#each auths as |auth|}}
          {{#x-option value=auth.name}}{{auth.name}}{{/x-option}}
          {{/each}}
          {{/x-select}}</h4>
          <br>
          <h4> Code: {{input value=model.authProtoCode readonly="true"}}</h4>
      </form>
    </div>
  </div>
  {{#each flashMessages.queue as |flash|}}
    {{flash-message flash=flash}}
  {{/each}}
</div>

{{/if}}
