{{#if model.id}}
  <div>
    <h2>API URL</h2>
    <div class="jumbotron">
      <form {{action "save" model.apiurl on="change"}}>
        Protocol:{{input value=model.protocol }}
        Port:{{input value=model.port }}
        Domain:{{input value=model.domain }}
        Base Path:{{input value=model.base_path }}
      </form>
      <div id="res">
        {{#link-to "apiurls.delete" model.apiurl tagName="button" class="btn btn-danger btn-xs"}}Remove{{/link-to}}
      </div>
    </div>
  </div>
{{/if}}
