{{#if model.id}}
  <h2>Entity</h2>
  <div class="jumbotron">
    <form {{action "save" model on="change"}}>
      name:{{input value=model.name }}
      description:{{input value=model.description }}
      External: {{input type="checkbox" name=model.external checked=model.external}}
      {{#if model.external}}
        URL/Path: {{input value=model.url}}
      {{/if}}
    </form>

    <div id="res2">
      {{#link-to "entities.delete" model tagName="button" class="btn btn-danger btn-xs"}}Remove{{/link-to}}
    </div>

    {{select-entity-formats model=model store=store}}

  </div>
  
  {{create-property model=model store=store}}
  <div class="jumbotron">
    {{#if model.properties}}
      {{#each model.properties as |property|}}
        {{show-property model=property}}
      {{/each}}
    {{else}}
      <p>No Properties yet.</p>
    {{/if}}
  </div>
  {{#each flashMessages.queue as |flash|}}
    {{flash-message flash=flash}}
  {{/each}}
{{/if}}
