{{#if model.id}}
    <div>
      <h2>Resource</h2>
      <form {{action "save" model on="change"}}>
        path:{{input value=model.path }}
        name:{{input value=model.name }}
        description:{{input value=model.description }}
      </form>
      {{#link-to "resources.delete" model tagName="button"}}Delete Resource{{/link-to}}
    </div>
    
    <div>
      <h3>Methods</h3>
      {{#if model.methods}}
        {{#each model.methods as |method|}}
          <div>{{show-method model=method store=store}}</div>
        {{/each}}
      {{else}}
        <p>No methods yet.</p>
      {{/if}}

      {{#each flashMessages.queue as |flash|}}
        {{flash-message flash=flash}}
      {{/each}}
    </div>
{{/if}}